* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
main {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  gap: 1rem;
  margin: 0 1rem;
}

.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
  border-radius: 0.5rem;
  width: 6rem; 
  transition: width 0.3s; 
}

.sidebar.open {
  width: 12rem; 
}

.toggle-btn {
  background: white;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  align-self: flex-end;
}

.toggle-btn .arrow {
  display: block;
}

.sidebar.open .toggle-btn .arrow {
  transform: rotate(180deg); 
}

.content {
  border: 2px solid black;
  border-radius: 0.5rem;
}
.middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
hr {
  width: 100%;
}
.rounded {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
}
